*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 2000 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

// body {
//   overflow: hidden;
// }

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  vertical-align: middle;
}
